<%- include('./header.ejs') %>

<script>
    deactiveLink();
    activeLink(1);
    activeLink(4);
  </script>

<div class="text-start back mt-3 ms-5">
    <a href="/jobs" style="text-decoration: none;">
      <ion-icon name="chevron-back-circle-outline" style="font-size: 3em; color: rgb(0, 64, 107);"></ion-icon>
    </a>
  </div>

  <div class="details container text-center mb-3">
    <div>
        <p class="fs-1"><%= d.jobname %></p>
    </div>
    <div>
        <p class="fs-5">
            Posted By : <%= d.postedby %> 
        </p>
        <p class="fs-5">
            From The Company : <%= d.bycompany %> 
        </p>
    </div>
    <div>
        <p class="fs-6 text-center px-3"><%= d.description %></p>
    </div>
    <div>
        <p class="fs-5">
            Applicable Till : <%= d.tilldate.toLocaleDateString() %>
        </p>
    </div>
    <div>
        <p class="fs-5">
            Knowledge Needed : <%= d.fields %>
        </p>
    </div>
    <div>
        <p class="fs-5">
            Salary Offered : <%= d.start_sal %> to <%= d.end_sal %> Per Annum
        </p>
    </div>
    <% if(app){ %>
    <div>
        <p class="fs-5">
            Approval Status : <%= app.approval %>
        </p>
    </div>
    <div class="text-end">
            <a href="/applyjob/<%= d._id %>" class="btn me-3 disabled">Applied</a>
        <% } else { %>
        <div class="text-end">
            <a href="/applyjob/<%= d._id %>" class="btn btn-outline-primary me-3">Apply</a>
        <% } %>
    </div>
  </div>

  <div>
    <i class="bi bi-toggle-off"></i>
  </div>

<%- include('./footer.ejs') %>
