<%- include('./header.ejs') %>

  <script>
    deactiveLink();
    activeLink(1);
    activeLink(4);
  </script>

  <div class="container my-5" id="jobs">
    <div class="buttons text-center">
      <button type="button" class="btn me-5"
        style="border: 0.1em solid rgb(46, 171, 255); color: rgb(46, 171, 255);">All</button>
      <button type="button" class="btn me-5"
        style="border: 0.1em solid rgb(46, 171, 255); color: rgb(46, 171, 255);">Applied</button>
      <button type="button" class="btn me-5"
        style="border: 0.1em solid rgb(46, 171, 255); color: rgb(46, 171, 255);">Available</button>
    </div>

    <div class="cards">
      <% d.forEach((item)=> { %>
        <div class="card text-center my-5">
          <div class="card-header fs-4">
            <%= item.jobname %>
          </div>
          <div class="card-body">
            <h5 class="card-title">Company name : <%= item.bycompany %></h5>
            <p class="card-text">
              <%= item.description %>
            </p>
            <p class="card-text">Posted by : <%= item.postedby %></p>
            <p class="card-text"><%= item.start_sal %> To <%= item.end_sal %> Per Annum</p>
            <a href="#" class="btn me-3">Apply</a>
            <a href="/job_details" class="btn">Check Details</a>
          </div>
          <div class="card-footer fs-6">
            Available Till <%= item.tilldate.toDateString() %>
          </div>
        </div>
        <% }) %>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/vanilla-tilt.js"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 10,
            speed: 1000,
            glare: true,
            "max-glare": 0.2,
            scale: 1.05,
            axis: "y",
            gyroscope: true,
            perspective: 700,
        });
    </script>

  <%- include('./footer.ejs') %>