<%- include('./rec_header.ejs') %>

<script>
  deactiveLink();
  activeLink(2);
  activeLink(4);
</script>

  <div id="my_account" class="container-fluid mt-5">
    <table class="container table my-5">
      <tbody> 
        <tr>
          <td class="text-end">
            <a href="#" data-bs-toggle="modal" data-bs-target="#showprofile"><img src="<%= p.url %>" alt="Profile" class="mb-5"></a>
            </td>
            <td class="text-start ms-5">
            <a href="#" data-bs-toggle="modal" data-bs-target="#editprofilerec" style="text-decoration: none;">
              <ion-icon name="create-outline" style="font-size: 1.2em;" class="mt-2"></ion-icon>Edit Profile
            </a>
          </td>
        </tr>
        <tr>
          <td class="py-3">Name : </td>
          <td class="py-3"><%= n %></td>
        </tr>
        <tr>
          <td class="py-3">Email : </td>
          <td class="py-3"><%= e %></td>
        </tr>
        <tr>
          <td class="py-3">Mobile No.:</td>
          <td class="py-3"><%= ph %></td>
        </tr>
        <tr>
          <td class="py-3">Company : </td>
          <td class="py-3"><%= c %></td>
        </tr>
      </tbody>
    </table>
    <% if(message1.length > 0){ %>
      <div class="alert alert-danger mx-5 my-3">
          <%= message1 %>
      </div>
    <% } %>
    <% if(message2.length > 0){ %>
      <div class="alert alert-success mx-5 my-3">
          <%= message2 %>
      </div>
    <% } %>
    <div class="buttons text-end mb-5 me-5">
      <button type="button" class="btn me-5 edit" data-bs-toggle="modal" data-bs-target="#changepassrec">Change Password</button>
      <button type="button" class="btn me-5 edit" data-bs-toggle="modal" data-bs-target="#editdetailsrec">Edit My Details</button>
      <button type="button" class="btn me-5 delete" data-bs-toggle="modal" data-bs-target="#deleterec">Delete My Account</button>
    </div>
  </div>

  <!-- Show Profile Modal -->
  <div class="modal fade" id="showprofile" tabindex="-1" aria-labelledby="showprofile" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="conatiner">
            <img src="<%= p.url %>" alt="Profile" width="350">
          </div>  
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Profile Modal -->
  <div class="modal fade" id="editprofilerec" tabindex="-1" aria-labelledby="editprofilerec" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/editprofilerec" method="post" enctype="multipart/form-data">
            <div class="text-center">
              <input class="form-control" type="text" name="name" id="name" value="<%= n %>" readonly>
            </div>
            <div class="mt-3 text-center">
              <input class="form-control" type="text" name="email" id="email" value="<%= e %>" readonly>
            </div>
            <div class="mt-3 text-center">
              <input class="form-control" type="file" name="profile" id="profile">
            </div>
            <img src="<%= p.url %>" alt="Profile" width="100">
            <div class="mt-3 text-center">
              <button type="submit" class="btn btn-primary">Edit Profile Picture</button>
            </div>
          </form>  
        </div>
      </div>
    </div>
  </div>

  <!-- Change Password Modal -->
  <div class="modal fade" id="changepassrec" tabindex="-1" aria-labelledby="changepassrec" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/changepassrec" method="post">
            <div class="text-center">
              <input class="form-control" type="password" name="oldpass" id="oldpass" placeholder="Enter Old Password">
            </div>
            <div class="mt-3 text-center">
              <input class="form-control" type="password" name="newpass" id="newpass" placeholder="Enter New Password">
            </div>
            <div class="mt-3 text-center">
              <input class="form-control" type="password" name="conpass" id="conpass" placeholder="Confirm Password">
            </div>
            <div class="mt-3 text-end">
              <input class="list-inline-item" type="checkbox" name="showbox" id="showbox" onclick="showpassword()">
              <label for="showbox" class="list-inline-item">Show Password</label>
            </div>
            <div class="mt-3 text-center">
              <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
          </form>  
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Details Modal -->
  <div class="modal fade" id="editdetailsrec" tabindex="-1" aria-labelledby="editdetailsrec" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/editdetailsrec" method="post">
            <div class="text-center">
              <input class="form-control" type="text" name="name" id="name" value="<%= n %>" readonly title="Cannot Change Name">
            </div>
            <div class="mt-3 text-center">
              <input class="form-control" type="text" name="email" id="email" value="<%= e %>" readonly title="Cannot Change Email">
            </div>
            <div class="mt-3 text-center">
              <input class="form-control" type="text" pattern="[0-9]{10}" name="phone" id="phone" value="<%= ph %>" title="Enter Valid Phone Number">
            </div>
            <div class="mt-3 text-center">
              <input class="form-control" type="text" name="company" id="company" value="<%= c %>">
            </div>
            <div class="mt-3 text-center">
              <button type="submit" class="btn btn-primary">Edit Details</button>
            </div>
          </form>  
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Modal -->
  <div class="modal fade" id="deleterec" tabindex="-1" aria-labelledby="deleterec" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: red;">Delete My Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/deleterec" method="post">
            <div class="text-center">
              Do You Really Want To Delete Your Account??
            </div>
            <div class="mt-3 text-center">
              <button type="submit" class="btn btn-danger">Delete Account</button>
            </div>
          </form>  
        </div>
      </div>
    </div>
  </div>


  <script>
    function showpassword() {
        let showbox = document.getElementById("showbox");
        if (showbox.checked == true){
            document.getElementById("oldpass").type = "text";
            document.getElementById("newpass").type = "text";
            document.getElementById("conpass").type = "text";
        } else {
            document.getElementById("oldpass").type = "password";
            document.getElementById("newpass").type = "password";
            document.getElementById("conpass").type = "password";
        }
    }
</script>

<%- include('./footer.ejs') %>